<div class="content">
  <app-child-feature-conditional></app-child-feature-conditional>
  <app-child-feature></app-child-feature>
  <app-child-feature-array></app-child-feature-array>
  <app-child-feature-dialog></app-child-feature-dialog>
  <app-child-feature-table></app-child-feature-table>
  <app-child-feature-input></app-child-feature-input>
  <app-child-feature-dropdown></app-child-feature-dropdown>
  <app-child-feature-async></app-child-feature-async>
</div>

<router-outlet></router-outlet>